<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand" [routerLink]="['/']">O</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/shopping-cart']">Shpooing Card</a>
          </li>
          <li class="nav-item"  *ngIf="!user">
            <a class="nav-link" [routerLink]="['/login']">Login</a>
          </li>
        <li class="nav-item dropdown" ngbDropdown *ngIf="user">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{user.displayName}}
          </a>
          <div ngbDropdownMenu  class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/my/orders']">My Order</a>
            <a class="dropdown-item" [routerLink]="['/admin/orders']">Manage Order</a>
            <a class="dropdown-item" [routerLink]="['/admin/products']">Manage Product</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">Logout</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>